<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01</key>
            <dict>
                <key>frame</key>
                <string>{{3262,2},{196,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,172}}</string>
                <key>sourceSize</key>
                <string>{196,172}</string>
            </dict>
            <key>02</key>
            <dict>
                <key>frame</key>
                <string>{{3460,2},{196,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,164}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>03</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>04</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{164,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,196}}</string>
                <key>sourceSize</key>
                <string>{164,196}</string>
            </dict>
            <key>05</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{196,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,188}}</string>
                <key>sourceSize</key>
                <string>{196,188}</string>
            </dict>
            <key>06</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{156,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,196}}</string>
                <key>sourceSize</key>
                <string>{156,196}</string>
            </dict>
            <key>07</key>
            <dict>
                <key>frame</key>
                <string>{{2400,2},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>08</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>09</key>
            <dict>
                <key>frame</key>
                <string>{{3658,2},{196,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,164}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>10</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>11</key>
            <dict>
                <key>frame</key>
                <string>{{2202,2},{196,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,188}}</string>
                <key>sourceSize</key>
                <string>{196,188}</string>
            </dict>
            <key>12</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>13</key>
            <dict>
                <key>frame</key>
                <string>{{2946,2},{156,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,188}}</string>
                <key>sourceSize</key>
                <string>{156,188}</string>
            </dict>
            <key>14</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>15</key>
            <dict>
                <key>frame</key>
                <string>{{2582,2},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>16</key>
            <dict>
                <key>frame</key>
                <string>{{3104,2},{156,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,188}}</string>
                <key>sourceSize</key>
                <string>{156,188}</string>
            </dict>
            <key>17</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>18</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>19</key>
            <dict>
                <key>frame</key>
                <string>{{2764,2},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>20</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,196}}</string>
                <key>sourceSize</key>
                <string>{180,196}</string>
            </dict>
            <key>button</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{3856,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101c8ae797c0dd183cac9a694b0e11c4:e7c3b136a0668b6b31dc287f18cd1428:4624f6497e387554f34e32de43618f10$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
