<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>02</key>
            <dict>
                <key>frame</key>
                <string>{{75,151},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>03</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>04</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>05</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>06</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>07</key>
            <dict>
                <key>frame</key>
                <string>{{294,148},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>08</key>
            <dict>
                <key>frame</key>
                <string>{{142,75},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>09</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>10</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>11</key>
            <dict>
                <key>frame</key>
                <string>{{221,148},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>12</key>
            <dict>
                <key>frame</key>
                <string>{{210,75},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>13</key>
            <dict>
                <key>frame</key>
                <string>{{430,64},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>14</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>15</key>
            <dict>
                <key>frame</key>
                <string>{{346,75},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>16</key>
            <dict>
                <key>frame</key>
                <string>{{430,134},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>17</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>18</key>
            <dict>
                <key>frame</key>
                <string>{{72,78},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>19</key>
            <dict>
                <key>frame</key>
                <string>{{362,145},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>20</key>
            <dict>
                <key>frame</key>
                <string>{{278,75},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>button</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{489,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101c8ae797c0dd183cac9a694b0e11c4:e7c3b136a0668b6b31dc287f18cd1428:4624f6497e387554f34e32de43618f10$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
